<html>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:each="pedido : ${pedidos}">
		<div th:text="${pedido.nomeProduto}">nome do produto</div>
		<div>Valor: <span th:text="${pedido.valorNegociado}">R$200.00</span></div>
		<div>Data da entrada: <span th:text="${pedido.dataEntrega}">10/02/2020</span></div>
		
		<div>Produto</div>
		<div> <input th:value="${pedido.urlProduto}" value="url do produto"/></div>
		<div>
			<textarea th:text="${pedido.descricao}">descrição do produto</textarea>
		</div>
		
		<div >
			<img th:src="${pedido.urlImagem}" alt="" src="">
		</div>
	</div>
</body>

</html>